.home{
    padding: 70px 10%;
    /* background-color: rgb(250, 253, 250); */
}
.nav{
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid rgb(218, 226, 222);
    padding: 5px;
}
.btnNav{
    color: black;
}
.activity{
    margin-top: 20px;
    img{
        width: 50%;
        vertical-align: top;
    }
    .activity_content{
        display: inline-block;
        margin: 0 10px;
        width: 40%;
    }
    .title{
        display: block;
        font-size: 1.5em;
        margin-bottom: 10px;
    }
    .title:hover{
        text-decoration: underline;
    }
}
.hot{
    margin: 20px;
    .hotList{
        display: flex;
        justify-content: space-between;
        padding: 5px;
    }
    .hotItem{
        cursor: pointer;
        width: 22%;
        color: black;
    }
    img{
        width: 100%;
    }
}
.categories{
    h3{
        margin: 10px 0;;
    }
    .categoriesItem{
        display: flex;
        justify-content: space-between;
        padding-top: 5px;
        border-bottom: 1px groove rgb(163, 159, 159);
    }
    .production{
        cursor: pointer;
        width: 22%;
        color: black;
    }
    img{
        width: 100%;
    }
}