.person{
    padding: 70px 10%;
    h2{
        border-bottom: 1px solid;
        padding-bottom: 5px;
        padding-left: 5px;
        width: 130px;
    }
}
.project{
    margin-top: 20px;
    // h2{
    //     border-bottom: 1px solid;
    //     padding-bottom: 5px;
    //     padding-left: 5px;
    //     width: 130px;
    // }
    .projectList{
        display: flex;
        // justify-content: space-between;
        padding-top: 5px;
    }
    .projectItem{
        margin: 10px 20px;
        cursor: pointer;
        width: 17%;
        color: black;
    }
    img{
        width: 100%;
    }
}
.join{
    margin-top: 20px;
    .joinList{
        display: flex;
        // justify-content: space-between;
        padding-top: 5px;
    }
    .joinItem{
        margin: 10px 20px;
        cursor: pointer;
        width: 17%;
        color: black;
    }
    img{
        width: 100%;
    }
}
.personInfo{
    .description{
        padding: 20px 20px;
        width: 75%;
        display: inline-block;
    }
    .btnNew{
        color: rgb(28, 190, 28);
        font-size: 1.2em;
        width: 17%;
        display: inline-block;
        text-align: center;
        vertical-align: top;
        margin-top: 5%;
        button{
            height: 70px;
            width: 80%;
        }
    }
}